HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
.env
.DS_Store
deploy/k8s/.DS_Store
deploy/.DS_Store
.DS_Store

# Ignore Terraform state files
*.tfstate
*.tfstate.*
crash.log
crash.*.log

# Ignore Terraform variable files that contain secrets
*.tfvars
*.tfvars.json
*.auto.tfvars

# Ignore Terraform local settings
.terraform/
.terraform.lock.hcl

# Ignore override files
*_override.tf
*_override.tf.json

# Ignore CLI configuration files
.terraformrc
terraform.rc

# Ignore editor/OS junk
.DS_Store
Thumbs.db
*.log
