apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: dev

resources:
  - kafka-deployment.yaml
  - mongodb-deployment.yaml
  - app-deployment.yaml

namePrefix: dev-

commonLabels:
  environment: dev

configMapGenerator:
  - name: env-config
    literals:
      - ENVIRONMENT=dev

patches:
  - target:
      kind: Deployment
      name: my-app
    patch: |-
      - op: replace
        path: /spec/replicas
        value: 1
      - op: replace
        path: /spec/template/spec/containers/0/image
        value: adithyasv/my-app:dev-latest
      - op: replace
        path: /spec/template/spec/containers/0/imagePullPolicy
        value: Always
